body {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-size: 2.5em;
  min-width: 500px;
  height: 50%;
  margin: 200px auto ;
  padding: 10px;
  border: 10px solid white;
  text-align: center;
  background-color: #f5564e;
  color: white;
  max-width: 80%;


}

.game{
  background-color: #009f9d;
  font-weight: bold;
  line-height: 2;
}

h1{
  margin: 20px;
  font-weight: bolder;
}

.lastResult {
  color: white;
  
}

.guessSubmit{
  height: 50px;
  width: 200px;
  margin: 10px auto;
  font-size: 0.8em;
  font-weight: bold;
}



a{
  color: black;
  font-size: 1.5em;

}

.btnLevel{
  margin: 35px auto;
}

a:hover{
  color: white;
}

.form{
  color: black;
}

 @media (min-width:1000px) {
  body{max-width: 50%;}
}

button{
  display: block;
  margin: 5px auto;
}
